[Unit]
Description=uWSGI instance to serve app
After=network.target


[Service]
User=www-data
Group=www-data
WorkingDirectory=/home/app/
Environment="PATH=/home/app/venv/bin"
Restart=always
RuntimeDirectoryMode=0775
RuntimeDirectory=uwsgi
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all
ExecStart=/home/app/venv/bin/uwsgi --ini /home/app/app.ini

[Install]
WantedBy=multi-user.target